body{
    background:linear-gradient(white,gainsboro,#F7E859);
    background-repeat: space;
    background-size: 100% 100%;
    margin-right: 100px;
	margin-left: 100px;
	margin-top: 10px;
	padding:10px;

}
ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background:rosybrown url('nav.jpg');
    position: fixed;
    top: 0;
    width: 100%;

}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: gray;
}
li a:hover:not(.active)
{
    background-color: darkslategrey;
}
.active{
    background-color: black;
}
